html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  font-size: 2rem;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}


header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "banner  banner"
    "iss    labs"
}

.logo {
  width: 14rem;
  grid-column: 1;
  grid-row: 1;
  z-index: 100;
}

main > figure:nth-child(1) {
  grid-column: 1;
  grid-row: 4;
  grid-area: iss;
}

main > figure:nth-child(2) {
  grid-column: 2;
  grid-row: 5;
  grid-area: labs;
}

.pano {
  grid-area: banner;
}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
}

nav {
  grid-column: 2;
  grid-row: 1;
}

ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style: none;
}

a {
  font-family: "Patua One", sans-serif;
  color: #fff;
  font-weight: normal;
}
